.appheader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	padding: $whitespace;
	border-bottom: $border;
	height: ($whitespace * 5);

	&__title {
		margin-bottom: 0;
	}
	&__icon {
		cursor: pointer;
		border: $border;
		padding: ($whitespace / 2);
		margin-right: ($whitespace / 2);
	}
	&__span {
		color: lighten($color-headline, 35%);
		font-weight: 200;
	}
}