.appnav {
	display: block;
	list-style-type: none;
	padding: 0;
	
	&__panel {
		margin: $whitespace;
		padding: $whitespace;
		color: lighten($color-spaceblack, 50%);
		background: lighten($color-spaceblack, 3%);
		border-radius: $border-radius;
		box-shadow: $box-shadow;
	}

	&__title {
		color: lighten($color-spaceblack, 20%);
		font-size: $font-size;
		margin-top: $whitespace;
		padding: 0 $whitespace;
		text-transform: uppercase;
	}

	&__icon {
		height: ($whitespace * 1.25);
		width: ($whitespace * 1.25);
		color: lighten($color-spaceblack, 20%);
		background: lighten($color-spaceblack, 3%);
		margin-right: ($whitespace / 2);
		border-radius: $border-radius;
		box-shadow: $box-shadow;
	}
	
	&__item {
		display: flex;
		align-items: center;
		cursor: pointer;
		color: lighten($color-spaceblack, 50%);
		padding: ($whitespace * 0.25) $whitespace;

		&:hover {
			background: darken($color-spaceblack, 3%);
		}
	}
}