.app {
	display: flex;
	height: 100%;
	flex-direction: column;
	

	// HEADER/CONTENT/FOOTER
	&__header,
	&__content,
	&__footer {
		display: flex;
		flex: none;

		&-aside-l {
			@include transition();
			flex: 0 0 $width-sidebar;
			border-right: $border;
			&.is-toggled {
				margin-right: -$width-sidebar;
				transform: translateX(-$width-sidebar);
			}
		}
		&-aside-r {
			@include transition();
			flex: 0 0 $width-sidebar;
			border-left: $border;
			&.is-toggled {
				margin-right: -$width-sidebar;
				transform: translateX($width-sidebar);
			}
		}
		&-main {
			@include transition();
			flex: 1;
		}
	}
	

	// HEADER
	&__header {
		&-aside-l,
		&-main,
		&-aside-r {
			color: #fff;
			background: $color-spaceblack;
			border-bottom: $border;
			z-index: 10;
			&.is-expanded {
				margin-bottom: calc(-100vh + (#{$height-toolbar} * 2) + 1px); //+ 1px to account for border
			}
		}
	}
	

	// CONTENT
	&__content {
		flex: 1 0 auto;

		&-aside-l {
			color: #fff;
			background: $color-spaceblack;
		}
	}


	// FOOTER
	&__footer {
		&-aside-l,
		&-main,
		&-aside-r {
			background: #fff;
			border-top: $border;
			z-index: 5;
			&.is-expanded {
				margin-top: calc(-100vh + (#{$height-toolbar} * 2) + 1px); //+ 1px to account for border
			}
		}
		&-aside-l {
			color: #fff;
			background: $color-spaceblack;
		}
	}
	

	// DRAWER
	&__drawer-l,
	&__drawer-r {
		@include transition();
		position: absolute;
		top: 0;
		height: 100vh;
		width: $width-sidebar + $whitespace*2;
		background: #fff;
		z-index: 15;
	}
	&__drawer-l {
		transform: translateX(-($width-sidebar + $whitespace*2));
		left: 0;
		&.is-toggled {
			transform: translateX(0);
			box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.5);
		}
	}
	&__drawer-r {
		transform: translateX($width-sidebar + $whitespace*2);
		right: 0;
		&.is-toggled {
			transform: translateX(0);
			box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.5);
		}
	}
}