.app {
	display: flex;
	height: 100%;
	flex-direction: column;
	
	&__header,
	&__content,
	&__footer {
		display: flex;
		flex: none;

		&-aside-l,
		&-aside-r {
			@include transition();
			flex: 0 0 $width-sidebar;
		}
		// State
		&-aside-l {
			&.is-toggled {
				margin-right: -$width-sidebar;
				transform: translateX(-$width-sidebar);
			}
		}
		&-aside-r {
			&.is-toggled {
				margin-right: -$width-sidebar;
				transform: translateX($width-sidebar);
			}
		}
		&-main {flex: 1;}
	}
	&__header {
		background: #fff;
		box-shadow: $box-shadow;
	}
	&__content {flex: 1 0 auto;}
}