<template name="app">
	<!-- app -->
	<div class="app">

		<!-- app__header -->
		<header class="app__header">
			<aside class="app__header-aside-l {{toggleHeaderAsideL}}">
				{{> Template.dynamic template=headerAsideL}}
			</aside>
			<main class="app__header-main">
				{{> Template.dynamic template=headerMain}}
			</main>
			<aside class="app__header-aside-r {{toggleHeaderAsideR}}">
				{{> Template.dynamic template=headerAsideR}}
			</aside>
		</header>

		<!-- app__content -->
		<section class="app__content">
			<aside class="app__content-aside-l {{toggleContentAsideL}}">
				{{> Template.dynamic template=contentAsideL}}
			</aside>
			<main class="app__content-main">
				{{> Template.dynamic template=contentMain}}
			</main>
			<aside class="app__content-aside-r {{toggleContentAsideR}}">
				{{> Template.dynamic template=contentAsideR}}
			</aside>
		</section>

		<!-- app__footer -->
		<footer class="app__footer">
			<aside class="app__footer-aside-l {{toggleFooterAsideL}}">
				{{> Template.dynamic template=footerAsideL}}
			</aside>
			<main class="app__footer-main">
				{{> Template.dynamic template=footerMain}}
			</main>
			<aside class="app__footer-aside-r {{toggleFooterAsideR}}">
				{{> Template.dynamic template=footerAsideR}}
			</aside>
		</footer>

	</div>
</template>