<template name="nav">
	<ul class="nav">
		<h3 class="nav__title">Section Title</h3>
		{{> nav__item}}
		{{> nav__item}}
		{{> nav__item}}
		{{> nav__item}}
		{{> nav__item}}
	</ul>
	<ul class="nav">
		<h3 class="nav__title">Section Title</h3>
		{{> nav__item}}
		{{> nav__item}}
		{{> nav__item}}
		{{> nav__item}}
	</ul>
	<ul class="nav">
		<h3 class="nav__title">Section Title</h3>
		{{> nav__item}}
		{{> nav__item}}
		{{> nav__item}}
	</ul>
</template>

<template name="nav__item">
	<li class="nav__item">
		<span class="nav__icon"></span>
		Nav Item
	</li>
</template>