.workspace {
	display: flex;
	height: 100%;
	flex-direction: column;
	
	&__header,
	&__content,
	&__footer {
		display: flex;
		flex: none;

		&-aside-l,
		&-aside-r {
			@include transition();
			flex: 0 0 $width-sidebar;
		}
		&-aside-l {
			border-right: $border;
			&.is-toggled {
				margin-right: -$width-sidebar;
				transform: translateX(-$width-sidebar);
			}
		}
		&-aside-r {
			border-left: $border;
			&.is-toggled {
				margin-right: -$width-sidebar;
				transform: translateX($width-sidebar);
			}
		}
		&-main {flex: 1;}
	}

	// Header
	&__header {
		&-aside-l,
		&-main,
		&-aside-r {
			background: #fff;
			border-bottom: $border;
			&.is-expanded {
				z-index: 10;
				margin-bottom: calc(-100vh + (#{$height-toolbar} * 2) + 1px); //+ 1px to account for border
			}
		}
	}
	
	// Content
	&__content {flex: 1 0 auto;}

	// Footer
	&__footer {
		&-aside-l,
		&-main,
		&-aside-r {
			background: #fff;
			border-top: $border;
			&.is-expanded {
				z-index: 5;
				margin-top: calc(-100vh + (#{$height-toolbar} * 2) + 1px); //+ 1px to account for border
			}
		}
	}

	// Drawer
	&__drawer-l,
	&__drawer-r {
		@include transition();
		position: absolute;
		top: 0;
		height: 100vh;
		width: $width-sidebar;
		background: #fff;
		z-index: 15;
	}
	&__drawer-l {
		transform: translateX(-$width-sidebar);
		left: 0;
		&.is-toggled {
			transform: translateX(0);
			box-shadow: $box-shadow-size-5;
		}
	}
	&__drawer-r {
		transform: translateX($width-sidebar);
		right: 0;
		&.is-toggled {
			transform: translateX(0);
			box-shadow: $box-shadow-size-5;
		}
	}
}