.workspace {
	display: flex;
	height: 100%;
	flex-direction: column;
	
	&__header,
	&__content,
	&__footer {
		display: flex;
		flex: none;

		&-aside-l,
		&-aside-r {
			@include transition();
			flex: 0 0 $width-sidebar;
		}
		&-aside-l {
			border-right: $border;
			&.is-toggled {
				margin-right: -$width-sidebar;
				transform: translateX(-$width-sidebar);
			}
		}
		&-aside-r {
			border-left: $border;
			&.is-toggled {
				margin-right: -$width-sidebar;
				transform: translateX($width-sidebar);
			}
		}
		&-main {flex: 1;}
	}

	// Header
	&__header {
		&-aside-l,
		&-main,
		&-aside-r {
			background: #fff;
			border-bottom: $border;
			&.is-expanded {
				z-index: 10;
				margin-bottom: calc(-100vh + 91px);
			}
		}
	}

	// Content
	&__content {flex: 1 0 auto;}

	// Footer
	&__footer {
		&-aside-l,
		&-main,
		&-aside-r {
			background: #fff;
			border-top: $border;
			&.is-expanded {
				z-index: 5;
				margin-top: calc(-100vh + 91px);
			}
		}
	}
}