.layout-app {
	display: flex;
	height: 100%;
	flex-direction: column;
	
	&__header,
	&__content,
	&__footer {
		display: flex;
		flex: none;

		&-aside-l,
		&-aside-r {
			@include transition();
			flex: 0 0 $width-sidebar;
		}
		&-main {flex: 1;}
	}
	&__content {flex: 1 0 auto;}
	
	&__header {
		background: #fff;
		box-shadow: $box-shadow;
	}

	@include respond-below(xl) {
		&__content {

			&-aside-l {
				margin-right: -$width-sidebar;
				transform: translateX(-$width-sidebar);
			}
			&-aside-r {
				margin-left: -$width-sidebar;
				transform: translateX($width-sidebar);
			}
		}
	}
}