.layout-app {
	display: flex;
	height: 100%;
	flex-direction: column;
	
	&__header,
	&__content,
	&__footer {
		display: flex;
		flex: none;

		&-aside {flex: 0 0 $width-sidebar;}
		&-main {flex: 1;}
	}
	// For: Full Height
	&__content {flex: 1 0 auto;}
}