<template name="layout-app">
	<!-- layout-app -->
	<div class="layout-app">

		<!-- layout-app__header -->
		<header class="layout-app__header">
			<aside class="layout-app__header-aside">
				{{> Template.dynamic template=headerAsideL}}
			</aside>
			<main class="layout-app__header-main">
				{{> Template.dynamic template=headerMain}}
			</main>
			<aside class="layout-app__header-aside">
				{{> Template.dynamic template=headerAsideR}}
			</aside>
		</header>

		<!-- layout-app__content -->
		<section class="layout-app__content">
			<aside class="layout-app__content-aside">
				{{> Template.dynamic template=contentAsideL}}
			</aside>
			<main class="layout-app__content-main">
				{{> Template.dynamic template=contentMain}}
			</main>
			<aside class="layout-app__content-aside">
				{{> Template.dynamic template=contentAsideR}}
			</aside>
		</section>

		<!-- layout-app__footer -->
		<footer class="layout-app__footer">
			<aside class="layout-app__footer-aside">
				{{> Template.dynamic template=footerAsideL}}
			</aside>
			<main class="layout-app__footer-main">
				{{> Template.dynamic template=footerMain}}
			</main>
			<aside class="layout-app__footer-aside">
				{{> Template.dynamic template=footerAsideR}}
			</aside>
		</footer>

	</div>
</template>