<template name="appcontrols">
	<div class="appcontrols">
		<div class="appcontrols__section">
			<i class="appcontrols__icon icon icon-icons2"></i>
			<a class="appcontrols__link" href="#">Home</a>
		</div>
		<div class="appcontrols__section">
			<i class="appcontrols__icon icon icon-equalizer"></i>
			<a class="appcontrols__link" href="#">Options</a>
		</div>
		<div class="appcontrols__section js-toggle-filter">
			<i class="appcontrols__icon icon icon-list"></i>
			<a class="appcontrols__link" href="#">Filter</a>
		</div>
	</div>
</template>