.app {
	@include flexbox();
	@include container();
	width: 100%;
	flex: 1;
	background: #fff;
	
	&__aside {
		@include flexbox();
		width: $sidebar-width;
	}
	&__main {
		@include flexbox($direction: column, $align: stretch);
	}
	&__top {
	}
	&__content {
	}
}